#calendar {
    width: 100%;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;         /* li 이지만 달력 형식으로 보이게 함 */
    float: left;
    width: calc(100%/7);    /* 일주일은 7일 이기에 가로를 7로 나눈 겂 */
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
}

#calendar ul.weekdays {                     /*전체 요일 css*/
    height: 40px;
    border-top: 4px solid #afac00;        /*위쪽과 아래쪽에 노란색 선을 만듬*/
    border-bottom: 4px solid #afa300;   
}

#calendar ul.weekdays li {              /*요일 css*/
    text-align: center;                 /*글자 중앙*/
    text-transform: uppercase;
    font-weight: bold;                  /*글자 굵게*/
    line-height: 20px;
    border: none;
    padding: 10px 6px;
    color: #000;
    font-size: 17px;
}

#calendar ul.weekdays li.sun {          /*일요일 css */
    text-align: center;                 /*글자 중앙*/
    text-transform: uppercase;
    font-weight: bold;                  /*글자 굵게*/
    line-height: 20px;
    border: none;
    padding: 10px 6px;
    color: red;                       /*색을 빨간색으로 바꿈*/
    font-size: 17px;
}

#calendar ul.weekdays li.sat {          /*토요일 css*/
    text-align: center;                 /*글자 중앙*/
    text-transform: uppercase;
    font-weight: bold;                  /*글자 굵게*/
    line-height: 20px;
    border: none;
    padding: 10px 6px;
    color: #50BCDF;                   /*색을 파란색으로 바꿈*/
    font-size: 17px;
}

#calendar .other-month {                /*다른 달*/
    background: #f5f5f5;              /*이번 달과 색을 다르게 함*/
    color: #666;
}

#calendar .days li {                    
    height: 180px;                       /*모든 날짜 높이 고정*/
}

#calendar .days li:hover {
    background: #d3d3d3;               /*마우스 올릴시 색 변화*/
}

#calendar .date {                        /*기본 날 css*/
    text-align: center;                  /*글자 중앙*/
    font-weight: bold;                   /*글자 굵게*/
    margin-bottom: 5px;
    padding: 4px;
    color: #333;
    width: 20px;
    border-radius: 50%;
    float: left;                         /*공간 왼쪽 시작*/
}

#calendar .date_sun {                     /*일요일 날 css*/
    text-align: center;                   /*글자 중앙*/
    font-weight: bold;                    /*글자 굵게*/
    margin-bottom: 5px; 
    padding: 4px;
    color: red;                         /*색을 빨간색으로 바꿈*/
    width: 20px;
    border-radius: 50%;
    float: left;                          /*공간 왼쪽 시작*/
}

#calendar .date_sat {                     /*토요일 날 css*/
    text-align: center;                   /*글자 중앙*/
    font-weight: bold;                    /*글자 굵게*/
    margin-bottom: 5px;
    padding: 4px;
    color: #50BCDF;                     /*색을 파란색으로 바꿈*/
    width: 20px;
    border-radius: 50%;
    float: left;                          /*공간 왼쪽 시작*/
}

#calendar .event {                        /*가계부를 적어 놓을 공간*/
    text-align: right;                    /*글자 오른쪽 정렬*/
    clear: both;
    display: block;
    font-size: 13px;
    line-height: 14px;
    text-decoration: none;
}

#calendar .expenses {                      /*총 금액 css*/
    color: red;                          /*빨간색*/
    margin-bottom: 7px;
    font-size: 14px;
    text-decoration: none;  
}

#calendar .money {                          /*사용 금액 css*/
    color: black;                         /*검은색*/
    margin-bottom: 7px;
    font-size: 14px;
    text-decoration: none;
}

.summit{                                    /*summit 버튼 div css*/
    float: right;                           /*오른쪽 시작*/
}

#calendar-wrap button{                      /*summit 버튼 css*/
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
}

#inputbox{                                  /*inputbox css*/
    width: 500px;
    height: 450px;
    border: 1px solid #ddd;              
    background-color: white;              /*배경 색*/
    display: flex;                          /*flexible box 사용*/
    flex-direction: column;                 /*원소들의 주 축 세로*/
    justify-content: space-around;          /*원소들이 균등한 여백을 포함하여 정렬*/
    align-content: space-around;            /*원소들이 균등한 여백을 포함하여 정렬*/
    z-index: 2;                             /*캘린더 위에 보여야 함*/
    position: fixed;                        /*독립적인 위치를 가짐*/
    top: 40%;                               /*시작 위차*/
    left: 40%;
    border-radius: 15px;
}

#inputbox .money{
    display: flex;                  /*flexible box 사용*/
    justify-content: center;        /*원소 중앙 정렬*/
}

#inputbox label{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

#inputbox input{                    /*금액 입력 css*/
    width: 300px;
    height: 50px;
    font-size: 20px;
}

#inputbox .select1{                 /*사용 목적 버튼 div css*/
    display: flex;                  /*flexible box 사용*/
    justify-content: space-around;  /*원소들이 균등한 여백을 포함하여 정렬*/
}

#inputbox .select1 button{          /*사용 목적 버튼 css*/
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 2px #ddd solid;
    box-shadow: 1px 1px 30px #ddd;  /*그림자 설정*/
    border-radius: 70%;               /*원형*/
}

#inputbox .select1 img{
    width: 70px;
    height: 70px;
}

#inputbox .select2{                 /*사용 목적 버튼 div css*/
    display: flex;                  /*flexible box 사용*/
    justify-content: space-around;  /*원소들이 균등한 여백을 포함하여 정렬*/
    margin: 0 50px 0 50px;
}

#inputbox .select2 button{           /*사용 목적 버튼 css*/
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 2px #ddd solid;
    box-shadow: 1px 1px 30px #ddd;      /*그림자 설정*/
    border-radius: 70%;                   /*원형*/
}

#inputbox .select2 img{
    width: 70px;
    height: 70px;
}

#inputbox .select2 button:hover, #inputbox .select1 button:hover{      /*사용 목적 버튼 css*/
    transform: scale(1.1);                      /*버튼에 마우스 올릴시 커짐*/
   
}

#inputbox .select2 button, #inputbox .select1 button{       /*사용 목적 버튼 css*/
    outline: 0;
    border: none;
}


#inputbox .select3{                 /*입력 및 초기화 버튼 div css*/
    display: flex;                  /*flexible box 사용*/
    justify-content: space-around;  /*원소들이 균등한 여백을 포함하여 정렬*/
}

#inputbox .select3 button{          /*입력 및 초기화 버튼 css*/
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: rgb(255, 247, 138);   /*배경 색*/
    border: 1px solid #eee;
    border-radius: 13px;
    outline: none;
}

#inputbox .select3 button:active{
    background-color: #ffe773;
}

#inputmoney{
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 10px 10px 0 10px;
    outline: 0;
}

#summitbox{                             /*summitbos css*/
    width: 1000px;
    height: 700px;
    border: 1px solid #ddd;
    background-color: white;          /*배경 색*/
    z-index: 2;                         /*캘린더보다 위에 있어야 함*/
    position: fixed;                    /*독립적인 위치를 가짐*/
    top: 40%;                           /*시작 위치*/
    left: 40%;
}

#summitbox #box{                        /*summitbos 안 내용 css*/
    display: flex;                      /*flexible box 사용*/
    flex-direction: column;             /*원소들의 주 축 세로*/
    justify-content: space-around;
    align-items: center;                /*원소 중앙 정렬*/
}

#summitbox .total{                      /*이번달 총 사용 금액 css*/
    height: 20%;
    font-size: 40px;
    font-weight: bolder;
}

#summitbox .average{                     /*일 평균 사용 금액 css*/
    font-size: 30px;
    font-weight: bolder;
}

#summitbox .expensesNum{                /*소비 목적 별 사용 금액 div css*/
    height: 30%;
}

#summitbox .expensesNum table{          /*소비 목적 별 사용 금액 table css*/
    width: 700px;
    table-layout: fixed;                /*표 고정*/
    font-size: 25px;
    text-align: center;                 /*문자 중앙 정렬*/
}

#summitbox .cardRecommend img{
    width: 256px;
    height: 256px;
}

#summitbox .exit{                       /*닫기 버튼 css*/
    width: 40px;
    height: 40px;
    align-items: center;
    background-color: white;
    padding: 0px;
    border: 0px;
    float: right;                       /*div의 오른쪽 위치*/
    vertical-align: top;                /*div의 위쪽 위치*/
}

#summitbox .exit img{
    width: 40px;
    height: 40px;
    float: right;
    vertical-align: top;
}

footer{
    clear:both;
}