

#calendar {
    width: 100%;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width: calc(100%/7);
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
}

#calendar ul.weekdays {
    height: 40px;
    border-top: 4px solid #afac00;
    border-bottom: 4px solid #afa300;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    border: none;
    padding: 10px 6px;
    color: #000;
    font-size: 17px;
}

#calendar ul.weekdays li.sun {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    border: none;
    padding: 10px 6px;
    color: red;
    font-size: 17px;
}

#calendar ul.weekdays li.sat {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    border: none;
    padding: 10px 6px;
    color: #50BCDF;
    font-size: 17px;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

#calendar .days li {
    height: 180px;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 4px;
    color: #333;
    width: 20px;
    border-radius: 50%;
    float: left;
}

#calendar .date_sun {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 4px;
    color: red;
    width: 20px;
    border-radius: 50%;
    float: left;
}

#calendar .date_sat {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 4px;
    color: #50BCDF;
    width: 20px;
    border-radius: 50%;
    float: left;
}

#calendar .event {
    text-align: right;
    clear: both;
    display: block;
    font-size: 13px;
    line-height: 14px;
    text-decoration: none;
}

#calendar .expenses {
    color: red;
    margin-bottom: 7px;
    font-size: 14px;
    text-decoration: none;  
}

#calendar .money {
    color: black;
    margin-bottom: 7px;
    font-size: 14px;
    text-decoration: none;
}

.summit{
    float: right;
}

#calendar-wrap button{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
}

#inputbox{
    width: 500px;
    height: 450px;
    border: 1px solid #ddd;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    z-index: 2;
    position: fixed;
    top: 40%;
    left: 40%;
    border-radius: 15px;
}

#inputbox .money{
    display: flex;
    justify-content: center;
}

#inputbox label{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

#inputbox input{
    width: 300px;
    height: 50px;
    font-size: 20px;
}

#inputbox .select1{
    display: flex;
    justify-content: space-around;
}

#inputbox .select1 button{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 2px #ddd solid;
    box-shadow: 1px 1px 30px #ddd;
    border-radius: 70%;
}

#inputbox .select1 img{
    width: 70px;
    height: 70px;
}

#inputbox .select2{
    display: flex;
    justify-content: space-around;
    margin: 0 50px 0 50px;
}

#inputbox .select2 button{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 2px #ddd solid;
    box-shadow: 1px 1px 30px #ddd;
    border-radius: 70%;
}

#inputbox .select2 img{
    width: 70px;
    height: 70px;
}

#inputbox .select2 button:hover, #inputbox .select1 button:hover{
    transform: scale(1.1);
   
}

#inputbox .select2 button, #inputbox .select1 button{
    outline: 0;
    border: none;
}


#inputbox .select3{
    display: flex;
    justify-content: space-around;
}

#inputbox .select3 button{
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: rgb(255, 247, 138);
    border: 1px solid #eee;
    border-radius: 13px;
    outline: none;
}

#inputbox .select3 button:active{
    background-color: #ffe773;
}

#inputmoney{
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 10px 10px 0 10px;
    outline: 0;
}

#summitbox{
    width: 1000px;
    height: 700px;
    border: 1px solid #ddd;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 40%;
    left: 40%;
    border-radius: 15px;
}

#summitbox .total{
    font-size: 20px;
}

footer{
    clear:both;
}