article{
    min-height: 100%;
}


.card{
    width: 360px;
    margin: 0 auto;             /* 카드 이미지 중앙 정렬 */
    border-style: none;         /* 부트스트랩 적용 시 테두리 생겨서 없애주기 위해 */
}

.card_img{
    position: relative;          /* content와 겹치게 하기 위해 */
    width: 360px;               
    top: 70px;                  /* 위로부터 70px 밀어줌 */
    z-index: 100;               /* 카드이미지가 content 위에 나타나게 하기 위해 */
    box-shadow: 4px 4px 40px #b9b9b9
}
#dis1{                          /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis2{                           /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis3{                          /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis4{                          /* 주요혜택 하위내용 css */
    display: none;            /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis5{                          /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis6{                          /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis7{                          /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis8{                          /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis9{                          /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}
#dis10{                          /* 주요혜택 하위내용 css */
    display: none;             /* 처음에는 내용 보이지 않게 함 */
    text-indent:130px;      /* 들여쓰기 */
}

.content{
    height: 100%;
    background-color: #eeeeee;
    padding-top: 150px;
    margin-bottom: 50px;            /*푸터와 50px 떨어트리기 위해*/
}
.j_name{
    background-color: white;
    text-align: center;                 /* 텍스트 중앙정렬 */
    font-size: 40px;                    /* 글씨 크기 */
    font-weight: bolder;            /* 글씨 굵게 */
    height: 110px;
    width:900px;                    /* 카드 이름 div 높이와 너비 지정 */
    margin: 0px auto;              /* 카드 이름 div 중앙 정렬 */ 
    border-top: 2.5px #ffe031 solid;
    border-bottom: 2.5px #ffe031 solid;         /* 카드 이름 div 위 아래 보더 주기 */
    padding-top: 40px;
    box-sizing: content-box;                    /* 부트스트랩 적용 시 div 찌그러짐 해결 위해 원래 적용값인 content-box 적용해줌 */
}


.explanation{
    height : 100%;
    overflow: auto;             /* div 자동 길이 조절 */
    padding-top: 50px;
    padding-bottom: 50px;       /*위 아래 padding 주기*/
}

ul{
    list-style:none;                /* 리스트 동그라미 생기는거 없애기 위해 */
    line-height: 30px;             /* 줄 높이 키우기 위해 */
}

#show{
    font-size: larger;              /* 글씨 크게 */
    height: 60px;
    width: 900px;                  /* 주요혜택 상위 div 높이 너비 지정 */
    margin: 0 auto;                /* 주요혜택 상위 div 중앙 정렬 */
    
    font-weight: 500;               /* 글씨 굵게 */
    background-color: #fff5b5;
    border-radius: 15px 15px;               /* div 모서리 둥글게 */
    margin-bottom: 15px;                    /* 주요 혜택 상위 div끼리 떨어트리기 위해 */
    cursor: pointer;                    /* 마우스 올릴 시 손 모양으로 바꾸기 위해 */
}
.sub{
    margin: 0 auto;                 /* div 중앙정렬 */
    margin-top: 30px;                
    width: 230px;                 
    height: 120px;                 /* div 넓이, 높이 설정 */
    background-color:  #f8e268;                 
    border-radius: 80px 40px;                 /* div 모서리 둥글게 */
    line-height: 120px;                 /* 텍스트 중앙정렬 위해 */
    vertical-align: middle;                 /* 텍스트 세로 중앙정렬 */
    text-align: center;                 /* 텍스트 가로 중앙정렬 */
    font-size: 30px;                 /* 글씨 크기 조절 */
}