
.month{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background-color: #ddd;
    height: 8px;
    margin-top: 80px;
    position: relative;
    padding: 0 330px;
}

.month1{
    margin: 0 auto;
    width: 700px;
    background-color: white;
    position: absolute;
    top: -20px;
}

.monthmoney{
   
    height: 300px;
    text-align: center;
    margin-top: 40px;
}
.monthmoney img{
    height: 300px;
}

#menu{
    text-align: center;
    overflow: hidden;
    padding: 30px  0;
}

.box{
    display: inline-block;
    background-color: #fad947;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 0 40px;
    font-size: 30px;
    font-weight: 400;
    border-radius: 70%;
    line-height: 250px;
    box-shadow: 10px 10px 10px 10px #f0f0f0 ;
}

.box>a{
    margin: 0;
    height: 100%;
    vertical-align: middle;
}

.box:first-child{
    background-color: #a6f18f ;
}

.box:last-child{
    background-color: rgb(240, 138, 138);
}


.box:hover{
    transform: scale(1.1);
}

.box2:hover{
    transform: scale(1.1);
}

.box2{
    display: inline-block;
    background-color: #54b3eb;
    text-align: center;
    width: 500px;
    height: 100px;
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: 400;
    line-height: 100px;
    box-shadow: 10px 10px 10px 10px #f0f0f0 ;
}

#tournament{
    margin-top: 100px;
}


#pickmycard{
    clear: both;
    margin: 0 auto;
    width: 500px;
    height: 50px;
}

#pickmycard p{
    margin: 0 auto;
    width: 400px;
    background-color: #d8d2d2;
    border-top: 1px #b6b2b2 solid;
    border-top: 1px #b6b2b2 solid;
    text-align: center;
}

#pickmycard:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

a:link { color: black; text-decoration: none;}

a:visited { color: black; text-decoration: none;}
