/*카드 추천과 토너먼트를 고를 수 있는 보조 메뉴 페이지*/

/*상단 제목*/
.title{
    margin: 0 auto;
    width: 700px;
    background-color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

/*중간 png삽입한 부분*/
.monthmoney{
    height: 300px;
    text-align: center;
    margin-top: 40px;
}

.monthmoney img{
    height: 300px;
}

/*메뉴 전체에 대한 css*/
#menu{
    text-align: center;
    overflow: hidden;
    padding: 30px  0;
}

.box{
    display: inline-block;
    background-color: #fad947;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 0 40px;
    font-size: 30px;
    font-weight: 400;
    border-radius: 70%;
    line-height: 250px;
    box-shadow: 10px 10px 10px 10px #f0f0f0 ;
}

.box>a{
    margin: 0;
    height: 100%;
    vertical-align: middle;
}

/*초록, 노랑, 빨강 순서로 box 색깔 변경*/
.box:first-child{
    background-color: #a6f18f ;
}

.box:last-child{
    background-color: rgb(240, 138, 138);
}

.box:hover{
    transform: scale(1.1);
}


/*토너먼트 버튼에 대한 css*/
.box2:hover{
    transform: scale(1.1);
}

.box2{
    display: inline-block;
    background-color: #54b3eb;
    text-align: center;
    width: 500px;
    height: 100px;
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: 400;
    line-height: 100px;
    box-shadow: 10px 10px 10px 10px #f0f0f0 ;
}

/*a링크 기본 스타일 초기화.*/
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
