@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

.rec{ 
    background-color: #e9e7e3;
    font-size: 35px;
    font-weight: bolder;
    padding-top:8px;
    padding-bottom:8px;
    padding-left: 50px;
}

.content{
    height: 220px;
    box-shadow: 2px 2px 18px #eeeeee;
    padding: 12px 0;
    margin: 60px 0;
}

.content>div{
    float:left;
}

.content>div:first-child{
    background-color: rgb(247, 180, 35);
    height: 100%;
    width: 3px;
}

.card_img{
    height: 170px;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 70px;
    float: left;
    
}

.content img{
    width: 260px;
}
.content img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 15px 2px #b9b9b9
}
.content h2{
    margin-left: 30px;
}

/*��� ��� �ִ� �ɱ�? html���Ͽ��� title�̶�� class�� ������..?*/
.title{
    float: left;
    margin-left: 140px;
}

.con{
    line-height: 160%;
    text-indent: 1.1em;
}
.opt2{
    color: black;
    text-decoration: none;
}
.opt2:hover{
    color:#dda146;
}