article{
    min-height: 100%;
}


.card{
    width: 360px;
    margin: 0 auto;
}

.card_img{
    position: relative;
    width: 360px;
    top: 70px;
    z-index: 100;
    box-shadow: 4px 4px 40px #b9b9b9
}
#dis1{
    display: none;
    text-indent:130px;
}
#dis2{
    display: none;
    text-indent:130px;
}
#dis3{
    display: none;
    text-indent:130px;
}
#dis4{
    display: none;
    text-indent:130px;
}
#dis5{
    display: none;
    text-indent:130px;
}
#dis6{
    display: none;
    text-indent:130px;
}
#dis7{
    display: none;
    text-indent:130px;
}
#dis8{
    display: none;
    text-indent:130px;
}
#dis9{
    display: none;
    text-indent:130px;
}
#dis10{
    display: none;
    text-indent:130px;
}

.content{
    height: 100%;
    background-color: #eeeeee;
    padding-top: 150px;
    margin-bottom: 50px;
}
.j_name{
    background-color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    height: 110px;
    width:900px;
    margin: 0px auto;
    border-top: 2.5px #ffe031 solid;
    border-bottom: 2.5px #ffe031 solid;
    padding-top: 40px;
}

.shinhan_detail img{
    display:block;
    height:230px;
    margin: 100px auto;
}

.shinhan_detail{
    height: 320px;
}
.explanation{
    height : 100%;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul{
    list-style:none;
    line-height: 30px;
}
.hyetaeck{
    font-weight: 20px;
    font-weight: bold;
}
#show{
    font-size: larger;
    height: 60px;
    width: 900px;
    margin: 0 auto;
    line-height: 60px;
    vertical-align: middle;
    font-weight: 500;
}
.sub{
    height: 100px;
    width:200px;
    border-radius: 80px 30px;
    background-color: #ffe96c;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    font-size: 30px;
    margin-top: 40px;
}