@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*�ƹ��� �ǵ��� ������*/
/*��� ������ ��ü ������ ���̾ƿ� �Դϴ�.*/

.logo{
    margin: auto 0;
}

#logo_img{
    height: 100px;
    display: block;
}

.organize_left{
    float: left;
}
.organize_right{
    float: right;
}

#upside{
    height: 100%;
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu_opt{
    float: left;
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    flex: 1;
    text-align: center;
}

.menu_opt:not(:last-child){
    border-right: 1px #929292 solid;
    padding-right: 10px;
}

.menu_opt:last-child{
    margin-left: -10px;
}

.menu_bar{
    width: 600px;
    margin: auto 20px;
    display: flex;
    justify-content: space-between
}

.opt{

    color: black;
    text-decoration: none;
}

.opt:hover{
    color: black;
    text-shadow: 2px 2px 2px white;
}

.drop{
    background-color: rgb(255, 232, 128);
    width: 130px;
    height: 230px;
    display: none;

}
.menu_opt .drop{
    position: absolute;
}
.drop>li{
    font-weight: 600;
    margin-top: 10px;
}
.drop>ul>li{
    background-color: rgb(250, 242, 209);
}
.drop>ul>li:hover{
    font-weight: 600;
    background-color: rgb(255, 253, 233);
}

ul,li{
    list-style: none;
    padding: 0;
}

li{
    margin: 0; 
   
}
a{
    text-decoration: none;
    color: #111;
}