
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); /*폰트 사용을 위해 import시킴*/


*{/*전체 글씨를 noto Sans KR로 지정*/
    font-family: "Noto Sans KR", sans-serif;
}


html{
    margin: 0;
    padding: 0;
    width: 100%;
    zoom: 0.75;/*화면이 전체적으로 작게 보이도록 zoom 설정*/
}


/*로고 들어가 있는 메인페이지 최상단 부분*/
header{ 
    width: 100%;
    overflow:hidden;
    margin-top: 20px;
}

#upside{
    
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

#logo_img{
    height: 230px;
    display: block;
    margin: 0 auto;
}

/*드롭다운 메뉴바 있는 네비게이션 부분*/
nav{
    border-top: 1px #bbb solid;
    border-bottom: 1px #bbb solid;
    padding: 3px 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}

.menu_opt{
    float: left;
    margin: 10px;
    font-size: 25px;
    flex: 1;
    text-align: center;
}

.menu_opt:not(:last-child){
    
    padding-right: 10px;
}


.menu_bar{
    width: 1450px;
    margin: auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.opt{

    color: black;
    text-decoration: none;
}

.opt:hover{
    font-weight: 600;
    color: black;
}


.menu_opt .drop{
    position: absolute;
}

/*안보이다가 마우스 올리면 보이는 부분 .drop*/
.drop{
    background-color: rgb(255, 232, 128);
    width: 350px;
    height: 330px;
    display: none;
    margin-top: 20px;
}

.drop>li{
    font-weight: 600;
    margin-top: 20px;
}

.drop>ul>li{
    background-color: rgb(250, 242, 209);
}
/*세부 메뉴 선택시 background color바뀜*/
.drop>ul>li:hover{
    font-weight: 600;
    background-color: rgb(255, 253, 233);
}
/*ul, li 기본 속성 초기화*/
ul,li{
    list-style: none;
    padding: 0;
}

li{
    margin: 0; 
    padding: 10px 40px;
}

a { /*밑줄 없애기*/
    color: #111;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;
}


/*메인 페이지 내용 넣는 부분*/
main{ 
    width: 100%;
    margin: 0 auto 200px;
    padding: 0;
    width: 1550px;
    height: 100%;
}
/*캐러셀 bootstrap 상위 우선순위에서 속성을 변경*/
.carousel-control{/*너무 배경색이 어두워서 색 변경함*/
    opacity: 0.2;
}
.carousel-control:focus,.carousel-control:hover
{
    opacity: 0.2;
}

.carousel-indicators{
    bottom: -60px;
}

.carousel-indicators li{
    border: 1px #ddd solid;
}

.carousel-indicators .active{
    background-color: #ccc;
}



/*footer 부분*/
footer{
    
    width: 100%;
    height: 370px;
    border-top: 1px solid #e4e8eb;
    background-color: #fafbfc;
    clear: both;
}

/* footer 내용 넣는 부분*/
.footer_inner{

    width: 1350px;
    margin: 50px auto 0;
}

.footer_inner>.info{

    border-top: 1px solid #e4e8eb;
    padding: 20px 40px;
    font-weight: 600;
}

.footer_inner span{
    margin-right: 15px;
    color: #777;
    font-weight: 400;
}

.info:last-child{
    padding-top: 100px;
}



