
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*글꼴 바꿀까 생각중*/

@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: "Noto Sans KR", sans-serif;
}



html{
    margin: 0;
    padding: 0;
    width: 100%;
    zoom: 0.75;
}

main{
    width: 100%;
    margin: 0 auto 100px;
    padding: 0;
    width: 1550px;
    height: 100%;
}

#mainphoto{
    margin: 70px 0 50px;
    overflow: hidden;
}

#mainphoto>img {
    margin: 0 auto;
    display: block;
}


header{
    width: 100%;
    overflow:hidden;
    margin-top: 20px;
}




/* 메뉴바 디자인*/



#logo_img{
    height: 230px;
    display: block;
    margin: 0 auto;
}

.organize_left{
    float: left;
}
.organize_right{
    float: right;
}

nav{
    border-top: 1px #bbb solid;
    border-bottom: 1px #bbb solid;
    padding: 3px 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}

#upside{
    
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.menu_opt{
    float: left;
    margin: 10px;
    font-size: 25px;
    flex: 1;
    text-align: center;
}

.menu_opt:not(:last-child){
    
    padding-right: 10px;
}


.menu_bar{
    width: 1450px;
    margin: auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.opt{

    color: black;
    text-decoration: none;
}

.opt:hover{
    font-weight: 600;
    color: black;
}


.menu_opt .drop{
    position: absolute;
}

.drop{
    background-color: rgb(255, 232, 128);
    width: 350px;
    height: 330px;
    display: none;

}

.drop>li{
    font-weight: 600;
    margin-top: 20px;
}


.drop>ul>li{
    background-color: rgb(250, 242, 209);
}

.drop>ul>li:hover{
    font-weight: 600;
    background-color: rgb(255, 253, 233);
}

ul,li{
    list-style: none;
    padding: 0;
}

li{
    margin: 0; 
    padding: 10px 40px;
}











/*아이콘 메뉴*/

.img_menu{
    clear:both;
    text-align: center;
    margin: 50px 0;
}
.img_menu>img{
    
    width: 200px;
    margin: 0 60px;
}




/*리스트 메뉴*/
.list_menu{
    overflow: hidden;
    text-align: center;
    padding: 0 98px;
}
.list_menu>div{
    
    border-top: 1px #e4e8eb solid;
    padding-top: 30px;
    float: left;
    width: 25%;
}

.list_menu ul{
    list-style: none;
    font-family: "slimGothic";
    font-size: 20px;
    font-weight: 600;
    padding-inline-start: 0;
}

.bb{
    font-weight: 600;
    color: #777777;
}

.lih1{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.lih2{
    font-size: 26px;
}
 a { 
    color: #111;
    text-decoration: none;
}

/*footer 디자인*/
footer{
    
    width: 100%;
    height: 370px;
    border-top: 1px solid #e4e8eb;
    background-color: #fafbfc;
    clear: both;
}

.footer_inner{

    width: 1350px;
    margin: 50px auto 0;
}

.footer_inner>.info{

    border-top: 1px solid #e4e8eb;
    padding: 20px 40px;
    font-weight: 600;
}

.footer_inner span{
    margin-right: 15px;
    color: #777;
    font-weight: 400;
}

.info:last-child{
    padding-top: 100px;
}