/*대학생이 갖고 싶어하는 물건 TOP5 메뉴 보여주는 css*/
/*내용 부분*/
article{
    clear: both;
    height: 900px;
}

/*제목 <대학생이 가장 갖고 싶어하는 물건 TOP 5> 에 대한 style*/
.top5-1{
    clear: both;
    background-color: #e9e7e4;
    padding: 10px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;/*내부 글씨 중앙 정렬*/
}

.top5{
    margin-top: 100px;
}

.top5 img {
    width: 100px;
}

.pic_width1{
    width: 1200px;
    margin: 0 auto;
    height: 300px;
}

.pic_width1>div{
    float:left;
    width: 300px;
    height: 300px;
    margin: 0 50px;
    padding-top: 30px;
    text-align: center;
}
.pic_width2{
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
    height: 300px;
}

.pic_width2>div{
    float:left;
    width: 300px;
    height: 300px;
    margin: 0 50px;
    padding-top: 30px;
    text-align: center;
}
.picture{
    height: 180px;
}

.pic{

    text-align: center;
    padding: 50px 10px;
    margin: 20px auto;

}

.pic>a:first-child{
    margin-right: 140px;
}

.pic>a:last-child{
    margin-left: 140px;
}


.picture{
    box-shadow: 2px 2px 20px 2px #d3d6d6;
}

.picture:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 15px 2px #50504d;
}
.select{
    overflow: hidden;
    margin: 100px 0 150px 0;
}
/*제목 <대학생이 가장 갖고 싶어하는 물건 TOP 5> 에 대한 style 끝*/
a:link { color:black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
