/*대학생이 갖고 싶어하는 물건 TOP5 메뉴 보여주는 css*/
/*내용 부분*/
article{
    clear: both;
    height: 900px;
}

/*제목 <대학생이 가장 갖고 싶어하는 물건 TOP 5> 에 대한 style*/
.top5-1{
    clear: both;
    background-color: #e9e7e4;
    padding: 10px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;/*내부 글씨 중앙 정렬*/
}

/*상품 첫번째 라인*/
.pic_width1{
    width: 1200px;
    margin: 0 auto;
    height: 300px;
}
/*첫번째 라인에 있는 상품들*/
.pic_width1>div{
    float:left;                 /*병렬 정렬*/
    width: 300px;
    height: 300px;         /*높이 너비 조절*/
    margin: 0 50px;
    padding-top: 30px;         /*위치 조절*/
    text-align: center;         /*텍스트 중앙 정렬*/
}
/*상품 두번째 라인*/
.pic_width2{
    width: 800px;
    margin: 0 auto;
    height: 300px;
}
/*두번째 라인에 있는 상품들*/
.pic_width2>div{
    float:left;
    width: 300px;
    height: 300px;
    margin: 0 50px;
    padding-top: 30px;
    text-align: center;
}
/*상품 사진 크기 통일*/
.picture{
    height: 180px;
}


/*상품 이미지에 그림자*/
.picture{
    box-shadow: 2px 2px 20px 2px #d3d6d6;
}

/*상품 이미지에 마우스 올릴 시 크기 커지고 그림자 넣어줌*/
.picture:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 15px 2px #50504d;
}
/*상품 이미지 전체 div 위치 조절*/
.select{
    margin: 100px 0 150px 0;
}
/*제목 <대학생이 가장 갖고 싶어하는 물건 TOP 5> 에 대한 style 끝*/
a:link { color:black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
