.logo{
    height: 100%;
}

#logo_img{
    height: 105px;
    display: block;
    margin: 30px 0px;
}

.organize_left{
    float: left;
}
.organize_right{
    float: right;
}

#upside{
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.menu_opt{
    float: left;
    margin: 10px;
}

.menu_bar{
    width: 400px;
    margin: auto 20px;
}
