@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

html{

    width: 100%;
    height: 100%;
    border-top: 10px #fff3bb solid;
   
}

body{
    margin: 0 100px;
    padding: 0;
    width: 1350px;
    height: 100%;
}

header{
    width: 100%;
    height: 150px;
}

article{
    background-color: #fdebb5;
    width: 100%;
}

footer{
    background-color: chartreuse;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
}

/* background-color�� �׳� �� ���̶��? �̷��� �� �Ű� ���������Դϴ�.*/