@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

html{

    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    margin: 2% auto;
    padding: 0;
    width: 1350px;
    height: 100%;

}

header{
    width: 100%;
    height: 150px;
}

article{
    clear: both;
    background-color: #fdebb5;
    width: 100%;
    height: 600px;
    margin: 2% 0% 0% 0%;
}

footer{
    border-top: 1px solid slategray;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
    font-size: 1.3em;
}
