html{

    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    margin: 2% auto;
    padding: 0;
    width: 1350px;
    height: 100%;

}

header{
    background-color: beige;
    width: 100%;
    height: 150px;
}

article{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}

footer{
    background-color: chartreuse;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
}

/* background-color은 그냥 잘 보이라고 이렇게 한 거고 수정예정입니다.*/