@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: slimGothic;
}

html{

    width: 100%;
    height: 100%;
    border-top: 10px solid rgb(255, 243, 187);
   
}

body{
    margin: 0 100px;
    padding: 0;
    width: 1350px;
    height: 100%;
}

header{
    width: 100%;
    height: 150px;
}

article{
    width: 100%;
    background-color: inherit;
}

footer{
    background-color: chartreuse;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
    border-top: 1px black dotted;
}
