
.rec{ 
    background-color: #e9e7e3;
    height: 180px;
    padding-top: 30px;
}
.rec>.width>div:first-child{
    font-size:30px;
    font-weight: 700;
    padding-bottom: 3px;
    border-bottom: 1px #bbb solid;
}
.rec>.width>div:last-child{
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}

.content{
    height: 200px;
    box-shadow: 2px 2px 18px #eeeeee;
    padding: 12px 0;
    margin: 60px 0;
}

.content>div{
    float:left;
}

.content>div:first-child{
    background-color: rgb(247, 180, 35);
    height: 100%;
    width: 3px;
}

.bank_img_ibk{
    height: 95px;
    margin: 65px 100px 50px 70px;
    float: left;
    
}

.bank_img_euge{
    height: 95px;
    margin: 63px 100px 50px 70px;
    float: left;
    
}

.bank_img_shin{
    height: 95px;
    margin: 55px 100px 50px 70px;
    float: left;
    
}

.bank_img{
    height: 95px;
    margin: 50px 100px 50px 70px;
    float: left;
    
}
.bank_img:hover{
    transform: scale(1.1);
}
.content img{
    width: 260px;
}

.content h2{
    margin-left: 30px;
}

/*��� ��� �ִ� �ɱ�? html���Ͽ��� title�̶�� class�� ������..?*/
.title{
    float: left;
    margin-left: 140px;
}

.con{
    line-height: 160%;
    text-indent: 1.1em;
}
.opt2{
    color: black;
    text-decoration: none;
}
.opt2:hover{
    color:#dda146;
}
