
article{
    clear: both;
}

.top5 p{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}
.top5 img {
    width: 250px;
    height: 250px;
}

.top5 div{
    float:left;
    width: 250px;
    height: 300px;
    box-sizing: border-box;
    margin: 0px 10px;
}

.else{
    clear: both;
    margin-top: 50px;
}

.else p{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}

.else div {
    float:left;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px 10px;
}

.page{
    clear: both;
    width: 1350px;
    height: 100px;
}
.page p{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    margin-top: 50px;
}

footer{
    clear: both;
    font-size: 1.3em;
}
