
article{
    clear: both;
    height: 900px;
}

 p{
    
    font-style: normal;
    text-align: center;
    font-size: 1.5em;
}

.top5-1{
    clear: both;
    background-color: #e9e7e4;
    padding: 10px 0;
    
    font-size: 30px;
}

.top5{
    margin-top: 100px;
}

.top5 img {
    width: 100px;
}

.line{
    overflow: hidden;
    padding-left: 150px;
    height: 300px;
}

.line:last-child{
    padding-left: 250px
}

.line>div{
    float:left;
    width: 200px;
    height: 200px;
    margin: 0 50px;
    padding-top: 30px;
    text-align: center;
}

