.info{
    float: left;
    overflow: hidden;
}

.info>table{
    font-family: slimGothic;
    font-size: 15px;
    height: 200px;
    width: 200px;
}

.info>img{
    height: 200px;
}

.info li{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
}
