

.background{
    background-color: #f4f4f4;
    padding: 10px 0;
    margin: 0 10px;
    border-top: 1px #c0c0c0 solid;
    border-bottom: 1px #c0c0c0 solid;
}

.place{

    font-family: slimGothic;
    font-size: 40px;
    font-weight: 600;
    margin-left: 5%;
}

.picture{
    margin: 0 auto;
    height: 180px;
}

.pic{

    border-top: 2px #c0c0c0 dashed;
    border-bottom: 2px #c0c0c0 dashed;
    text-align: center;
    padding: 50px 10px;
    margin: 80px 60px;

}

.picture:first-child{

    margin-right: 110px;
}

.picture:last-child{

    margin-left: 110px;
}

.select{
    margin: 100px 0 150px 0;
}