
article{
    clear: both;
}

#chosenitem{
    clear: both;
    margin-top: 30px;
    background-color: rgb(236, 236, 236);
    width: 1350px;
    height: 400px;
}

.chosenimg{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 400px;
    height: 300px;
    border: 1px solid black;
}
.chosenimg img{
    width: 400px;
    height: 300px;
}

.chosentext{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 800px;
    height: 300px;
    border: 1px solid black;
}

.chosenname{
    clear: both;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    border: 1px solid black;
    width: 300px;
    height: 100px;
}
.chosenname p{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
    width: 290px;
    height: 90px;
    font-size: 1.6em;
}
.lowprice{
    float: left;
    margin-top: 30px;
    margin-left: 120px;
    border: 1px solid black;
    width: 300px;
    height: 200px;
}
.lowprice table{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
    width: 290px;
    height: 190px;
    font-size: 1.3em;
}
.averageprice{
    clear: both;
    border: 1px solid black;
    margin-left: 30px;
    width: 300px;
    height: 50px;
}
.averageprice p{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
    width: 290px;
    height: 40px;
    font-size: 1.6em;
}

.forback{
    clear: both;
    width: 1350px;
    height: 50px;

}
.forback p{
    clear: both;
    margin-top: 50px;
    margin-left: 20px;
    font-family: slimGothic;
    font-size: 2em;
    flex: 1;
    font-weight: bold;
}
.saving{
    clear: both;
    width: 1350px;
    height: 640px;
    background-color: rgb(236, 236, 236);
}

.month6{
    clear: both;
    width: 1350px;
    height: 200px;
}

.saving table{
    width: 1350px;
    height: 180px;
    text-align: center;
}

footer{
    clear: both;
    font-size: 1.3em;
}