
article{
    clear: both;
    height: 1800px;
}

#chosenitem{
    clear: both;
    margin-top: 90px;
    background-color: #f6f6f6;
    width: 1350px;
    height: 400px;
}

.chosenimg{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 400px;
    height: 300px;
}
.chosenimg img{
    width: 400px;
    height: 300px;
}

.chosentext{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 800px;
    height: 300px;
}

.chosenname{
    clear: both;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    width: 300px;
    height: 100px;
}
.chosenname p{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    width: 290px;
    height: 90px;
    font-size: 1.9em;
    font-weight: 600;
}
.lowprice{
    float: left;
    margin-top: 30px;
    margin-left: 120px;
    width: 300px;
    height: 200px;
    background-color: white;
    border-top: 1px #c0c0c0 solid;
    border-bottom: 1px #c0c0c0 solid;
}
.lowprice table{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
    width: 290px;
    height: 190px;
    font-size: 1.3em;
}
.averageprice{
    clear: both;
    margin-left: 30px;
    width: 300px;
    height: 50px;
}
.averageprice p{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    width: 290px;
    height: 40px;
    font-size: 30px;
}

.forback{
    clear: both;
    width: 1350px;
    height: 50px;

}
.forback p{
    clear: both;
    margin-top: 50px;
    margin-left: 20px;
    font-family: slimGothic;
    font-size: 2em;
    flex: 1;
    font-weight: bold;
}
.saving{
    clear: both;
    width: 1350px;
    height: 640px;
    background-color:#f6f6f6;
}

.month6{
    clear: both;
    width: 1350px;
    height: 200px;
}

.saving table{
    width: 1350px;
    height: 180px;
    text-align: center;
}

footer{
    clear: both;
    font-size: 1.3em;
}

th{
    background-color: rgb(173, 173, 162);
}