@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

.logo{
    height: 100%;
}

#logo_img{
    height: 105px;
    display: block;
    margin: 30px 0px;
}

.organize_left{
    float: left;
}
.organize_right{
    float: right;
}

#upside{
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.menu_opt{
    float: left;
    margin: 10px;
    font-family: slimGothic;
    font-size: 25px;
    flex: 1;
    text-align: center;
}

.menu_opt:not(:last-child){
    border-right: 1px #929292 solid;
    padding-right: 10px;
}

.menu_opt:last-child{
    margin-left: -10px;
}

.menu_bar{
    width: 600px;
    margin: auto 20px;
    padding: 20px 30px;
    border: 2px #f3d132 dotted;
    border-radius: 30px;
    display: flex;
    justify-content: space-between
}

.opt{

    color: black;
    text-decoration: none;
}

.opt:hover{
    font-weight: 600;
    color: black;
}

article{
    clear: both;
}

#chosenitem{
    clear: both;
    margin-top: 30px;
    background-color: rgb(236, 236, 236);
    width: 1350px;
    height: 400px;

}

.chosenimg{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.chosentext{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 900px;
    height: 300px;
    border: 1px solid black;
}
.forback{
    clear: both;
    width: 1350px;
    height: 50px;

}
.forback p{
    margin-top: 50px;
    margin-left: 20px;
    font-family: slimGothic;
    font-size: 2em;
    flex: 1;
    font-weight: bold;
}
.saving{
    width: 1350px;
    height: 300px;

    background-color: rgb(236, 236, 236);
}

.bankimg{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.banktext{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 900px;
    height: 200px;
    border: 1px solid black;
}