@font-face{
    font-family: "slimGothic";
    src: url(../src/DXSglinegoTh-KSCpc-EUC-H.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

html{

    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    margin: 2% auto;
    padding: 0;
    width: 1350px;
    height: 100%;

}

header{
    width: 100%;
    height: 150px;
}

footer{
    background-color: chartreuse;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
}

/* background-color은 그냥 잘 보이라고 이렇게 한 거고 수정예정입니다.*/