<!-- 처음 만드실 때 이거 복붙하시고 그 아래에다가 만드시면 됩니다.-->
<!doctype html>
<html>

<head>
    <title>티끌 모아.home</title>
    <link rel="stylesheet" type="text/css" href="../css/home1.css"><!---->
</head>

<body>
    <header>
        <a href="home.html">
            <div id="upside">
                <img id="logo_img" src="../src/logo.png">
            </div>
        </a>
    </header>
    <nav>
        <div class="menu_bar">
            <div class="menu_opt"><a class="opt" href="cardHome.html">체크카드</a></div>
            <div class="menu_opt"><a class="opt" href="SavingsHome.html">예금/적금</a></div>
            <div class="menu_opt"><a class="opt" href="wantHome.html">뭘 원해?</a></div>
            <div class="menu_opt"><a class="opt" href="calander/accountBook.html">가계부</a></div>
        </div>
    </nav>

    <main>
        <div id="mainphoto">
            <img src="../src/mainphoto2.png">
        </div>
        <div class="img_menu">

            <img src="../src/card.png">

            <img src="../src/account.png">

            <img src="../src/purchase.png">

            <img src="../src/accountbook.png">

        </div>
        <div class="list_menu">
            <div>
                <ul>
                    <li class="lih1">체크카드</li>
                    </br>
                    <li class="lih2">월별 소비 금액</li>
                    </br>
                    <a href="card20/card20.html"><li class="bb">20만원</li></a>
                    </br>
                    <a href="card340/card30-40.html"><li class="bb">30 ~ 40만원</li></a>
                    </br>
                    <a href="card50/card50.html"><li class="bb">50만원</li></a>
                    </br>
                    <li class="lih2">토너먼트</li>
                    </br>
                    <a href="tournament/tournament-meal-level0.html"><li class="bb">나에게 맞는 카드 찾기</li></a>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="lih1">예금 적금</li>
                    </br>
                    <li class="lih2">예금</li>
                    </br>
                    <a href="deposit/deposit_main.html"><li class="bb">예금 상품</li></a>
                    </br>
                    <li class="lih2">적금</li>
                    </br>
                    <a href="account/account_main.html"><li class="bb">적금 상품</li></a>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="lih1">뭘 원해?</li>
                    </br>
                    <li class="lih2">쇼핑</li>
                    </br>
                    <li class="bb"><a href="product/top5.html">TOP 5</a></li>
                    </br>
                    <li class="lih2">여행</li>
                    </br>
                    <a href="travel/travelMenu.html"><li class="bb">국내 & 국외여행</li></a>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="lih1">가계부</li>
                    </br>
                    <a href="#"><li class="bb">일 별 소비</li></a>
                    </br>
                    <a href="#"><li class="bb">소비 분석 &</br> 다음 달 소비 예측</li></a>
                </ul>
            </div>
        </div>

    </main>

    <footer>
        </br>
        <p>
            edit by 1조
        </p>
    </footer>
</body>

</html>